@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');


$dark-blue: #245076;
$light-blue: #316fa4;
$dark-yellow: #bbaa45;
$light-yellow: #f0ca33;
$light-grey: #f3f3f3;
$dark-grey: #181818;

* {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: $light-grey;
}

a {
    transition: ease-in 0.4s;
}

.navbar {
    background-color: $dark-grey !important;
    opacity: 0.95;
    padding: 2px 20px;
}

.navbar-brand img {
    width: 40px;
}

.nav-item {
    padding-right: .7rem;
    text-transform: uppercase;

    a {
        color: $light-blue !important;
        padding: 2px 2px;
    }

    a:hover {
        color: $dark-yellow !important;
    }
}

.nav-pills .nav-link.active {
    color: #000 !important;
    background-color: $light-blue;

    &:hover {
        color: $light-yellow !important;
    }
}

.home-inner {
    background: url("../img/pattern-black.png") repeat 0 0, url("../img/welcome2.jpg") no-repeat center center;
    background-size: auto, cover;
    height: 100vh;
    border-bottom: 4px solid $dark-blue;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 34%;
    z-index: 1;
    color: $light-grey;

    h1 {
        font-size: 500%;
        font-weight: 300;
        text-transform: uppercase;
        text-shadow: 0px 0px 10px black;
        letter-spacing: 0.5rem;
        margin-bottom: 0;
    }

    h2 {
        font-size: 180%;
        display: inline-block;
        margin-top: -20px;
        padding: 0 4px 4px 4px;
        background-color: rgba($light-yellow, 0.8);
        color: $light-blue;
        transform: rotate(-1deg);
    }

    p {
        font-style: italic;
        margin: 2% 20% 5% 20%;
        padding: 10px 20px;
        background-color: rgba(black, 0.5);

        .fas {
            font-size: 1rem;
            font-style: italic;
            padding: 0 5px;
        }
    }

    .btn {
        background-color: $light-blue;
        color: $light-grey;
        box-shadow: 0px 0px 20px black;
        animation: pulse 3s ease-in-out infinite alternate;

        @keyframes pulse {
            from {
                transform: scale(1);
            }

            50% {
                transform: scale(0.90);
            }

            to {
                transform: scale(1);
            }
        }

        &:hover {
            background-color: $dark-blue;
        }
    }
}

.padding {
    padding-top: 80px;
}

#achievements h2,
#education h2,
#config h2 {
    font-family: 'Caveat', cursive;
    display: inline-block;
    color: $light-yellow;
    background-color: $light-blue;
    padding: 0 10px;
    transform: rotate(-1deg);
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: 0 0 12px rgba(black, 0.4);
    transition: ease-in 0.5s;
}

.techno ul {
    display: table;
    margin: 0;
    padding: 0 0 5px 0;
}

.techno li {
    color: $light-blue;
    background-color: $light-yellow;
    font-weight: 700;
    float: left;
    list-style: none;
    margin: 0 4px 4px 4px;
    padding: 2px 4px;
    transform: rotate(1deg);

    &::after {
        content: " ";
    }

    &:last-child::after {
        content: "";
    }
}

#education a {
    text-decoration: none;
    color: $light-blue;
    font-weight: 700;
}

.rotate-right {
    font-family: 'Caveat', cursive;
    display: inline-block;
    color: $light-blue;
    background-color: $light-yellow;
    margin-top: 20px;
    padding: 0 10px;
    transform: rotate(2deg);
    margin-bottom: 15px;
}

.rotate-left {
    font-family: 'Caveat', cursive;
    display: inline-block;
    color: $light-blue;
    background-color: $light-yellow;
    margin-top: 20px;
    padding: 0 10px;
    transform: rotate(-1deg);
    margin-bottom: 15px;
}

.certificates ul {
    list-style: square;

    li {
        margin-left: -10px;
    }
}


.detail {
    list-style: square;

    li {
        margin-left: -10px;
    }
}

#config p {
    margin: 0;
}

#config li {
    list-style: square;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, .5);
    line-height: 45px
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #fff
}

.scroll-to-top:hover {
    background: #343a40
}

.scroll-to-top i {
    font-weight: 800
}

footer {
    color: $light-grey;
    font-size: 0.8em;
    text-align: center;
    background-color: $dark-grey;
    border-top: 4px solid $dark-yellow;
    height: 120px;
    margin-top: 40px;
    padding: 22px 0;

    p {
        margin: 4px;
    }

    a {
        text-decoration: none;
        color: $light-grey;
        margin-left: 20px;
        font-size: 1.2rem;
    }

    & :hover {
        text-decoration: none;
        color: $light-blue;
    }
}

@media (max-width: 576px) {
    .caption {
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 24%;
        z-index: 1;
        color: $light-grey;

        h1 {
            font-size: 150%;
            font-weight: 400;
            text-transform: uppercase;
            text-shadow: 0px 0px 10px black;
            letter-spacing: 0.3rem;
            margin-bottom: 0;
        }

        h2 {
            font-size: 93%;
            display: inline-block;
            padding: 0 4px 4px 4px;
            background-color: rgba($light-yellow, 0.8);
            color: $light-blue;
            transform: rotate(-1deg);
        }

        p {
            font-size: 0.9em;
            font-style: italic;
            margin: 2% 10% 5% 10%;
            padding: 5px 10px;
            background-color: rgba(black, 0.5);

            .fas {
                font-size: 0.9rem;
                font-style: italic;
                padding: 0 5px;
            }
        }

        .btn {
            background-color: $light-blue;
            color: $light-grey;
            box-shadow: 0px 0px 20px black;
            margin-top: 10px;

            &:hover {
                background-color: $dark-blue;
            }
        }
    }
}